VERBOSE: True

MODEL:
  MODEL_NAME: 'AECRNet'
  SESSION: 'DesmokeData'
  TARGET: 'target'

# Optimization arguments.
OPTIM:
  BATCH_SIZE: 8
  NUM_EPOCHS: 200
  LR_INITIAL: 2e-4
  LR_MIN: 1e-6
  SEED: 3407
  WANDB: False

TRAINING:
  VAL_AFTER_EVERY: 1
  RESUME: False
  PS_W: 256
  PS_H: 256
  SAVE_DIR: './checkpoints/'          # path to save models and images

TESTING:
  TARGET: 'target'
  WEIGHT: './filmnet_hdr+.pth'
  SAVE_IMAGES: True